build/
*.elf
*.map
*.bin
*.hex
*.app

sdkconfig
sdkconfig.old

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
project_description.json

partition-table.bin
partition-table.csv

*.log

idf_component_versions.yml

.vscode/
.idea/
*.swp
*~